 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>resume</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>상세 설명은 위에 PORTFOLIO의 상장들을 클릭해주세요!!!!<br>
                      For more description, click on the certicficates above in PORTFOLIO!!!!
                      <br><br>projects & etc (프로젝트 및 기타)
                      <ul>
                        <li>Automatic face replacement web service for portrait rights protection
                          <ul style="list-style-type:circle;"><li>python</li><li>openCV 얼굴인식</li><li>빅데이터 cycleGAN모델 머신러닝</li><li>spark SQL</li></ul>
                        </li>
                        <li>제주대학교 교내 순환버스 실시간 버스정류장 정보 서비스<ul style="list-style-type:circle;"><li>JAVA</li><li>DataBase (MySQL)</li><li>GUI (JAVA Swing)</li></ul></li>
                        <li>코로나 관련 국가별 출국 가능성 및 조건 시각화<ul style="list-style-type:circle;"><li>웹크롤링</li><li>JavaScript</li><li>HTML, css FLEX</li></ul></li>
                        <li>가상현실(VR) 기반 블록코딩 교육<ul style="list-style-type:circle;"><li>unity VR</li><li>C#</li></ul></li>
                        <li>샌프란시스코 주립대학 소프트웨어 IT 교육 수료<ul style="list-style-type:circle;"><li>block-chain</li></ul></li>
                        <li>2020 에듀믹스 인턴활동<ul style="list-style-type:circle;"><li>project managment</li></ul></li>
                      </ul>
                      scholorship(장학내역)
                        <ul>
                          <li><img src="./img/scholorshiplist.png" alt="scholorshippic" width="100%"></li>
                          <li>2020 카카오트랙 장학생</li>
                        </ul>
                    </p>
                </div>
                <div class="col-lg-4">
                    <p>
                      Introducing myself
                      <ul><li>저는 1학년 때부터 소프트웨어 관련 해외 프로그램 등에 관심이 많아, SW 중심대학에서 진행하는 다양한 프로그램에 참가하였습니다. 1학년 1학기 여름방학에 미국 실리콘벨리에서 진행하는 인턴십에 참가하여 소프트웨어 실력을 기르게 되었습니다. 당시에는 1학년이라 아는 것도 많이 없고, 할 수 있는 것도 거의 없었습니다. 있었던 것이라고는 의지와 토플 96점 정도의 영어 실력밖에 없었습니다. 물론 부족한 저이기에 당시에는 팀원에게 도움이 되지 않았습니다. 도움이 되기 위해서는 모든 지식을 빠르게 흡수하고 하루하루 급격하게 발전해나가는 수밖에 없었습니다. 때문에 1달이라는 짧은 기간이었지만, 그 당시에 배운 내용은 정말로 값지고 방대한 내용이었습니다. </li><br>

                      <li>인턴십을 진행하기 전에는 c언어 정도밖에 모르던 제가, 인턴십이 종료될 즈음에는 python, LINUX 활용은 물론, 정형데이터베이스 SQL, 백엔드 서버 구축 등 기본적인 프로그램 능력이 생기게 되었으며, 실무와 관련된 지식 또한 얻게 되어, OpenCV, docker, elastic search, 빅데이터 모델, 깃허브 활용 협업 등을 학습하였습니다.</li><br>

                      <li>자연스럽게 인턴십이 종료된 이후에도 저를 발전시킬 다양한 프로젝트 등을 찾게 되었고, 2019 샌프란시스코 주립대학 SW 교육 이수, 2020 산학프로젝트 진행, 코딩베이스캠프 참가 등을 하게 되었습니다. 프로그램 하나를 진행할 때마다, 저 자신이 단순히 발전이 아닌, 진화하는 느낌을 받게 되었습니다.</li><br>

                      <li>그 과정에서 다양한 수상 및 인턴십 이수, 교육 이수 등을 하게 되었고, 지금 현재 내놓을 수 있는 자료 등이 되어주고 있습니다. 이러한 증명서도 도움이 되었지만, 역시 가장 큰 도움이 된 것은 역시 저의 근본적인 실력에 있습니다. 전공 실력은 당연히 증진되었고, 특히 프로젝트를 구성하고 진행하며, 협업을 하는 능력에 도움이 되었습니다.</li><br>

                      <li>코로나 사태로 인한 프로젝트 및 해외 사업의 축소로, 예정되어있던 프로젝트도 취소되고, 저는 저를 더욱 발전시킬 수 있는 프로젝트에 목말라 있는 상태입니다. 팀원으로서 팀에 기여하고, 다양한 것을 배우고, SW관련 지식 및 견문을 넓히고 싶습니다.</li></ul>

                    </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="http://github.com/rohyounwoo" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Go to Blog</a>
                </div>
            </div>
        </div>
    </section>
